*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties


# Ignore build output
**/build/

# Ignore signing keys
*.jks
*.keystore

# Ignore environment files
.env
.env.*

# Ignore Kotlin build cache
.kotlin/

# Android Studio local settings
.idea/

